/* ---------------------breadcrumb------------------------------  */
.breadcrumb {
    width: 100%;
    padding: 20px 30px;
    background-color: #F8F8FC;
    margin-bottom: 20px;
}

.breadcrumb ul {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style-type: none;
}

.breadcrumb ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.breadcrumb ul li a {
    text-decoration: none;
    color: black;
}

.breadcrumb ul li a:hover {
    color: #2854E5;
}

.breadcrumb ul li a.breadcrumb-active {
    color: #2854E5;
}

/* ---------------------sidebar------------------------------  */

.siderbar {
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: #F8F8FC;
    gap: 30px;
    /* float: left; */
}

.sidebar-item {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 12px;
}

.sidebar-item-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.productList {
    width: 70%;
    /* float: left; */
}

.productList img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.wrapper {
    width: 100%;
    display: flex;
    gap: 80px;
}

/* ---------------------sidebar------------------------------  */

#camera-products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 73px;
    margin-top: 40px;
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    padding: 20px;
    position: relative;
    border-radius: 10px;
    width: 250px;
    height: 350px;
    position: relative;
    background-color: #fff;
}

.product-item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.product-item>a>img {
    width: 187px;
    height: 187px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
    margin-bottom: 10px;
}

.product-item>a>img:hover {
    transform: scale(1.05);
}


.product-price {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 300px;
    left: 20px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: red;
}

.compare-price {
    font-weight: 500;
    text-decoration: line-through;
}

.discount {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    color: white;
    background-color: red;
    padding: 0 5px;
    border-radius: 5px;
}


/* -page-- */

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.circle:hover {
    background-color: #ddd;
}

.circle-active {
    background-color: #007bff;
    color: #fff;
}

#prevpage, #nextpage {
    font-weight: bold;
    line-height: 1.5;
}
