
/* -----------------------contact------------------------------  */


.breadcrumb {
    width: 100%;
    padding: 20px 30px;
    background-color: #F8F8FC;
    margin-bottom: 20px;
}

.breadcrumb ul {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style-type: none;
}

.breadcrumb ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.breadcrumb ul li a {
    text-decoration: none;
    color: black;
}

.breadcrumb ul li a:hover {
    color: #2854E5;
}

.breadcrumb ul li a.breadcrumb-active {
    color: #2854E5;
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F8F8FC;
    position: relative;
}

.contact-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    float: left;

}

.contact-wrapper h1 {
    font-size: 32px;
    font-weight: bold;
    color: black;
    margin-bottom: 30px;
}

.contact-info {
    width: fit-content;
    justify-content: center;
    float: left;
    padding: 50px;
    background-color: #fff;
    border-radius: 15px;
}

.contact-item {
    display: flex;
    gap: 10px;
}

.contact-item svg {
    width: 16px;
}

.contact-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    float: left;
    background-color: #fff;
    padding: 50px;
    border-radius: 15px;
}

#contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}
