
/* -----------------------slider-left + banner-right------------------------------  */

.section-slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #F8F8FC;
}

.swiper-slider-main {
    width: 60%;
    height: 438px;
    position: relative;
    overflow: hidden;
    margin: 30px 30px;
}

.swiper-wrapper {
    width: 100%;
}

.swiper-slide {
    width: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 438px;
    object-fit: cover;
    border-radius: 36px;
    padding: 0 10px;
}

.swiper-pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
}

.slide-content-right {
    width: 30%;
    height: 438px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 40px;
}

.slide-content-right img {
    width: 100%;
    height: 49%;
    border-radius: 12px;
    object-fit: cover;
}


/* -----------------------services------------------------------  */

.section-services {
    width: 100%;
    padding: 30px;
}

.services-wrapper {
    display: flex;
    margin-left: 50px;
    margin-right: 40px;
}

.service-item {
    display: flex;
    gap: 20px;
    margin-right: 30px;
}

.service-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* -----------------------categories------------------------------  */


.section-categories {
    width: 95%;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    align-items: center;
    padding: 20px 30px;
    /* margin: 10px auto; */
    margin: 10px auto 50px auto;
}

.category-item {
    width: 100%;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.category-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.category-info__title {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.category-info__count {
    color: #5a5a5a;
    font-size: 12px;
}

.category-item:not(:nth-last-child(1)) {
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

/* -----------------------flash-sale------------------------------  */

#countdown-km-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px;
    margin: 40px;
    background-color: #2854E5;
    border-radius: 12px;
}

.km-title {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.km-title a {
    font-size: 32px;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.km-timer {
    display: flex;
    align-items: center;
    background-color: yellow;
    padding: 3px 10px;
    border-radius: 10px;
}

.text {
    margin-right: 4px;
}

#countdown-km {
    display: inline;
    align-items: center;
}

#countdown-km>a {
    text-decoration: none;
    color: black;
}

#countdown-km-container .product-wrapper .product-item {
    background-color: #fff;
}

/* -----------------------products------------------------------  */

.section-products {
    width: 100%;
}

.section-products>a {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-left: 50px;
}

/* -----------------------banner-bottom------------------------------  */
.banner-bottom{
    width: 100%;
    /* height: 500px; */
    background-color: #F8F8FC;
    position: relative;
}

.banner-bottom img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    padding: 0 10px;
}
