.horizontal-scroll {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    gap: 40px;
    padding: 0 10px;
    scroll-behavior: smooth;
    margin: 40px;
}

.horizontal-scroll::-webkit-scrollbar {
    height: 12px; /* chiá»u cao scrollbar ngang */
}

.horizontal-scroll::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 4px;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 4px;
}

.horizontal-scroll::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.product-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    padding: 20px;
    position: relative;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 250px;
    height: 350px;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    flex: 0 0 auto;
}


.product-item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    position: relative;
}

.product-item>a>img {
    width: 187px;
    height: 187px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
    margin-bottom: 10px;
}

.product-item>a>img:hover {
    transform: scale(1.05);
}


.product-price {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 300px;
    left: 20px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: red;
}

.compare-price {
    font-weight: 500;
    text-decoration: line-through;
}

.discount {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    color: white;
    background-color: red;
    padding: 0 5px;
    border-radius: 5px;
}

.product-action-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    display: flex;
    gap: 10px;
    background: rgba(255, 255, 255, 0.9);
    padding: 6px 10px;
    border-radius: 8px;
    transition: 0.3s ease;
    z-index: 2;
}

.product-item:hover .product-action-bar {
    transform: translate(-50%, -50%) scale(1);
}

.action-icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    transition: transform 0.2s;
}

.action-icon:hover {
    transform: scale(1.1);
}



.cart-notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    animation: fadeInOut 2s ease-in-out;
}

.notification-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.notification-content svg {
    width: 40px;
    height: 40px;
}

.notification-content p {
    margin: 0;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

/* Animation for fade in and out */
@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}

/* ----------------------modal product--------------------------- */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 1000px;
    max-width: 90%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}
.modal-content-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-title {
    font-size: 1.5rem;
    margin: 0;
}
.modal-brand-info {
    font-size: 0.9rem;
    color: #666;
    margin: 0;
}
.modal-price-box {
    display: flex;
    align-items: center;
    gap: 30px;
}
.modal-price {
    font-size: 1.5rem;
    color: #e60000;
    font-weight: bold;
    margin: 10px 0;
}
.modal-compare-price {
    font-size: 1rem;
    color: #666;
    text-decoration: line-through;
    margin: 0;
}
.modal-content-color-box {
    display: flex;
    flex-direction: column;
}
.modal-add-cart {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.modal-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
}
.modal-close-btn {
    background: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
}